body {
    background-color: #b91450;
}



.bg-white{
    background-color: white;
    /**debug**/
    min-height: 200px;
}

.bg-grey{
    background-color: #cccccc;
}

.color-scarlet{
    color:#b91450 ;
}





.border-scarlet{
    border-color: #b91450;
}